<h1 class="cart-header">CART</h1>
<h2>Hello {{user.firstName}}, this is your current cart</h2>
<table class="cart-table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Image</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        {{#each cartData.userCart.products}}
            <tr>
                <td>{{this.product.title}}</td>
                <td>{{this.product.description}}</td>
                <td><img class="cart-image" src="{{this.product.image}}" alt="{{this.product.title}}"></td>
                <td>{{this.product.price}}</td>
            </tr>
            <tr>
                <td colspan="4"><hr class="cart-hr"></td>
            </tr>
        {{/each}}
        <tr>
            <td colspan="3"><strong class="cart-total-price">Total Price:</strong></td>
            <td class="cart-total-price">{{cartData.totalPrice}}</td>
        </tr>
    </tbody>
</table>

<button class="css-button-3d--blue"><a href="/products">Back to products</a></button>
<button id="buyCartBtn" class="css-button-3d--green">Buy Cart</button>

<script src="/js/cart.js"></script>
<input type="hidden" id="cartId" value="{{cartData.userCart._id}}">
