<h1> Welcome to our store</h1>


<button id="logoutBtn" class="css-button-3d--red" type="button">Logout</button>

<!-- Elemento oculto para almacenar cId -->
<input type="hidden" id="userCart" value="{{userCart}}">
{{#unless isAdmin}}
    <!-- Botón para redireccionar hacia la vista del carrito -->
    <button class="css-button-3d--green"><a href="/cart">Show Cart</a></button>
{{/unless}}

{{#unless isAdmin}}
    <!-- Botón para redireccionar hacia la vista del carrito -->
    <button id="css-button-3d--grey"><a href="/documents">Documents</a></button>
{{/unless}}


{{#if isAdmin}}
    <!-- Botón para redireccionar hacia el panel de administrador -->
    <button class="adminPanelBtn" id="css-button-3d--grey"><a href="/users">Admin Panel</a></button>
{{/if}}

<h2> Hi, {{firstName}} {{lastName}} here you will find our </h2>

<h3>PRODUCTS</h3>

<div class="product-container">
    {{#each payload}}
        <div class="product">
            <h2>{{this.title}}</h2>
            <p>{{this.description}}</p>
            <img src="{{this.thumbnail}}" alt="{{this.title}}">
            <p>Price: {{this.price}}</p>
            <button class="addToCartBtn" id="{{this._id}}" data-user-cart="{{userCart}}">Add to Cart</button>
        </div>
    {{/each}}
</div>

{{#if hasPrevPage}}
    <button class="css-button-retro--yellow"><a href="/products?page={{prevPage}}">Previous Page</a></button>
{{/if}}

{{#if hasNextPage}}
    <button class="css-button-retro--yellow"><a href="/products?page={{nextPage}}">Next Page</a></button>
{{/if}}
<script src="js/products.js"></script>