<h1> Welcome </h1>

<h2> Hi, {{firstName}} {{lastName}} here you will find our products :</h2>

<button id="logoutBtn" type="button">Logout</button>

<script src="js/home.js"></script>



<h1> PRODUCTOS </h1>



{{#each payload}}
<table>
    <tr>
        <th>Title:</th>
        <td>{{this.title}}</td>
    </tr>
    <hr>
    <tr>
        <th>Id:</th>
        <td>{{this._id}}</td>
    </tr>
    <hr>
    <tr>
        <th>Description:</th>
        <td>{{this.description}}</td>
    </tr>
    <tr>
        <th>Price:</th>
        <td>{{this.price}}</td>
    </tr>
    <tr>
        <th>Status:</th>
        <td>{{this.status}}</td>
    </tr>
    <tr>
        <th>Thumbnail:</th>
        <td>{{this.thumbnail}}</td>
    </tr>
    <tr>
        <th>Code:</th>
        <td>{{this.code}}</td>
    </tr>
    <tr>
        <th>Stock:</th>
        <td>{{this.stock}}</td>
    </tr>
    <tr>
        <td colspan="2">
            <button class="addToCartBtn" id="{{this._id}}">Agregar al carrito</button>
        </td>
    </tr>
</table>
{{/each}}

<hr>
<hr>


{{#if hasPrevPage}}
<button><a href="/products?page={{prevPage}}">Anterior</a></button>
{{/if}}

{{#if hasNextPage}}
<button><a href="/products?page={{nextPage}}">Siguiente</a></button>
{{/if}}
<script src="js/products.js"></script>